html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

html {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: #666666;
}

body.error {
	text-align: center;
}

body.error h1 {
	padding: 120px 0 0 0;
	font-size: 120px;
	color: #ffef00;
	font-weight: 700;
}

body.error h2 {
	padding-top: 50px;
	font-size: 60px;
	color: #ffffff;
	font-weight: 100;
}

#container {
	width: 1024px;
	position: relative;
	margin: 0 auto;
}

header {
	width: 1024px;
	height: 200px;
	margin-bottom: 50px;
}

#logo {
	height: 122px;
	width: 304px;
	padding: 48px 36px 30px 36px;
	float: left;
}

.aburms-logo {
	color: #ffef00;
	font-size: 76px;
	font-weight: 700;
	line-height: 122px;
}

.aburms-logo .aburms-logo-circle {
	text-align: center;
	color: #666666;
	display: inline-block;
	background: #ffef00;
	width: 122px;
	border-radius: 61px;
	margin-left: 1px;
}

.header-title {
	padding: 128px 14px 0 0;
	float: left;
	width: 634px;
	height: 72px;
	font-size: 76px;
	color: #ffef00;
	font-weight: 700;
	text-align: right;
}

nav {
	width: 376px;
	float: left;
}

nav a {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
}

nav a:hover {
	color: #ffef00;
}

nav ul li {
	display: block;
	text-align: center;
}

nav ul.pages {
	height: 420px;
}

nav ul.pages li {
	margin-bottom: 40px;
}

nav ul.pages li a {
	font-size: 56px;
}

nav a.active {
	color: #666666;
	background-color: #ffef00;
	padding: 5px 10px;
	border-radius: 40px;
}

nav ul.external {
	height: 100px;
	width: 240px;
	margin: 0 auto;
}

nav ul.external li {
	float: left;
	width: 120px;
	height: 36px;
}

nav ul.external a {
	font-size: 20px;
}

#content {
	float: right;
	width: 620px;
	padding: 0 14px 30px 14px;
	font-size: 24px;
	color: #ffffff;
	font-weight: 100;
	line-height: 1.5;
}

footer {
	width: 376px;
	font-size: 16px;
	font-weight: 700;
	color: #ffef00;
	text-align: center;
	padding-bottom: 30px;
}

/* @media all and (max-width: 480px) {
	#container {
		width: 100%;
	}
	
	header {
		width: 100%;
		padding: 30px 0;
		margin: 0;
		height: auto;
	}
	
	#logo {
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
		height: 76px;
		margin-bottom: 20px;
	}
	
	.aburms-logo {
		font-size: 48px;
		line-height: 76px;
	}
	
	.aburms-logo .aburms-logo-circle {
		width: 76px;
		border-radius: 38px;
	}
	
	.header-title {
		width: 100%;
		padding: 0;
		float: none;
		text-align: center;
		font-size: 48px;
		height: auto;
	}
	
	#content {
		float: none;
		text-align: center;
		width: 96%;
		padding: 0 2%;
		font-size: 18px;
	}
	
	nav {
		width: 100%;
		float: none;
	}
	
	nav ul {
		width: 100%;
		float: none;
	}
	
	nav ul.pages {
		height: auto;
	}
	
	nav ul.pages li {
		width: 50%;
		float: left;
	}
	
	nav ul.pages li a {
		font-size: 30px;
	}
	
	nav ul.external li {
		width: 50%;
	}
} */
